// @media only screen and (min-width: 1024px) {
//   .App {
//     background-color: #373C4B;
//     width: 100%;
//     height: 100%;
//     min-height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: flex-start;

//     .appContainer {
//       display: block;
//       min-width: 1024px;
//       width: 90%;
//       margin-top: 30px;
//     }
//   }
// }

// @media only screen and (max-width: 1023px) {
//   .App {
//     background-color: #373C4B;
//     height: 300vh;
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     min-width: 375px;

//     .appContainer {
//       width: 100%;
//       height: 300vh;
//       display: flex;
//       overflow-x: scroll;

//       .scrollContainer {
//         margin: 0 auto;
//       }
//     }
//   }

// 


.App {
     background-color: #273146;
     width: 100%;
     height: 100%;
     min-height: 100vh;
    
     
}
.appContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}


* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}



img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}